@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

#root {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  font-family: "Libre Franklin";
}

.heading {
    font-size: 80px;
    font-weight: 500;
    margin: 10px 0px;
}

.subheading {
    font-size: 20px;
    margin-bottom: 80px;
}

.input-text {
    all: unset;
    font-size: 20px;
    height: 50px;
    width: 600px;
    background-color: #ffffff;
    color: black;
    margin: 10px;
    border-radius: 5px;
}

.input-btn {
    all: unset;
    font-size: 20px;
    background-color: #6eff42;
    color: black;
    width: 80px;
    height: 50px;
    margin: 10px;
    transition: background-color 300ms;
    border-radius: 5px;
}

.input-btn:hover {
    background-color: #52db28;
}
.input-btn:focus {
    background-color: #59ff27;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.list-todo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.list-todo table {
    border-collapse: collapse;
    width: 1000px;
    border-collapse: collapse;
}

.list-todo tr {
    margin: 10px 10px;
}

.list-todo thead th {
    font-size: 50px;
    font-weight: 200;
    border-bottom: 3px solid #969696;
}

.list-todo th, td {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.delete-btn {
    all: unset;
    background-color: #df2020;
    height: 100;
    padding: 8px;
    transition: background-color 300ms;
    border-radius: 5px;
}
.delete-btn:hover {
    background-color: #bf1f1f;

}

.edit-btn {
    all: unset;
    background-color: #ccc;
    color: black;
    height: 100;
    padding: 8px;
    transition: background-color 300ms;
    border-radius: 5px;
}
.edit-btn:hover {
    background-color: #e5e5e5;
}

input[type="checkbox"] {
    appearance: none;
    color: currentColor;
    width: 2.15em;
    height: 2.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(0.200em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 0em 3em white;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.slashed {
    text-decoration: line-through;
}